In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot

Since we have multiple datasets, we will try to understand each one of them one at a time.
<br />
There are overlapping features in each dataset that will provide establishment of relationships.

<h2>1. World Food Production Dataset</h2>

In [4]:
df_food_production = pd.read_csv("../data/original/world food production.csv")
# df_population = pd.read_csv("./data/world_population.csv")
# df_food_price = pd.read_csv("./data/wfp_food_prices_database.csv")
# df_currency_rates = pd.read_csv("./data/currency_to_usd.csv")

In [5]:
df_food_production.head(10)

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
0,Afghanistan,1961,700000.0,319000.0,7467702.0,2279000.0,1873812.0,56315.0,3270871.0,12000.0,...,10100.0,232910.0,1131882.0,225000.0,870970.0,835368.0,5600.0,3139079.0,63439.0,15100.0
1,Afghanistan,1962,700000.0,319000.0,7420515.0,2279000.0,2044797.0,61519.0,3562524.0,12800.0,...,10100.0,259412.0,1111006.0,225000.0,883512.0,867170.0,6000.0,3181580.0,65118.0,15100.0
2,Afghanistan,1963,713000.0,319000.0,8479074.0,1947000.0,2096077.0,63596.0,3409916.0,12800.0,...,10100.0,251529.0,1145004.0,225000.0,996674.0,922621.0,6160.0,3304256.0,61760.0,15100.0
3,Afghanistan,1964,720000.0,380000.0,9113779.0,2230000.0,2388264.0,66604.0,3229336.0,12800.0,...,12400.0,247556.0,1160831.0,265000.0,1162048.0,1190061.0,6400.0,3392527.0,62759.0,18400.0
4,Afghanistan,1965,720000.0,380000.0,10067913.0,2282000.0,2559608.0,72418.0,3169104.0,13200.0,...,13700.0,266947.0,1138860.0,287000.0,1075084.0,874245.0,6800.0,3450849.0,66269.0,20400.0
5,Afghanistan,1966,720000.0,337000.0,10863614.0,2033000.0,2690984.0,90272.0,3214807.0,14000.0,...,15300.0,280862.0,1151649.0,315000.0,1199529.0,969648.0,7200.0,3563461.0,68331.0,22800.0
6,Afghanistan,1967,768000.0,396000.0,12123091.0,2280000.0,2580187.0,86111.0,3556573.0,14000.0,...,18500.0,275066.0,1100007.0,372000.0,1085561.0,982906.0,7600.0,3603535.0,71416.0,27600.0
7,Afghanistan,1968,773000.0,402000.0,12840044.0,2354000.0,2799236.0,100736.0,3601209.0,14400.0,...,18700.0,293310.0,1154021.0,375000.0,1183868.0,855617.0,8000.0,3732902.0,73906.0,27900.0
8,Afghanistan,1969,785000.0,407000.0,14496418.0,2454000.0,3001560.0,114363.0,3760912.0,14800.0,...,18900.0,274316.0,1195096.0,379000.0,1253504.0,1004663.0,9600.0,3914729.0,76704.0,28200.0
9,Afghanistan,1970,667000.0,366000.0,16413323.0,2081000.0,3111482.0,121398.0,4558892.0,14000.0,...,18300.0,284651.0,1077079.0,364000.0,1295001.0,1120835.0,9600.0,4076156.0,78464.0,27300.0

In [6]:
df_food_production.shape

(11912, 24)

In [7]:
df_food_production.isna().sum()

Entity                                 0
Year                                   0
Maize Production (tonnes)              0
Rice  Production ( tonnes)             0
Yams  Production (tonnes)              0
Wheat Production (tonnes)              0
Tomatoes Production (tonnes)           0
Tea  Production ( tonnes )             0
Sweet potatoes  Production (tonnes)    0
Sunflower seed  Production (tonnes)    0
Sugar cane Production (tonnes)         0
Soybeans  Production (tonnes)          0
Rye  Production (tonnes)               0
Potatoes  Production (tonnes)          0
Oranges  Production (tonnes)           0
Peas, dry Production ( tonnes)         0
Palm oil  Production (tonnes)          0
Grapes  Production (tonnes)            0
Coffee, green Production ( tonnes)     0
Cocoa beans Production (tonnes)        0
Meat, chicken  Production (tonnes)     0
Bananas  Production ( tonnes)          0
Avocados Production (tonnes)           0
Apples Production (tonnes)             0
dtype: int64

In [8]:
df_food_production["Year"].unique()

array([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [14]:
len(df_food_production[df_food_production["Year"] == 2018])

214

In [12]:
df_food_production["Entity"].nunique()

226

In [19]:
df_food_production.loc[1]

1962